<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="jquery-widget : A general Angular directive written to act as a wrapper to host any jQuery UI widget written to the specs of the Widget Factory.">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>jquery-widget</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/jmcpeak/jquery-widget">View on GitHub</a>

          <h1 id="project_title">jquery-widget</h1>
          <h2 id="project_tagline">A general Angular directive written to act as a wrapper to host any jQuery UI widget written to the specs of the Widget Factory.</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/jmcpeak/jquery-widget/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/jmcpeak/jquery-widget/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1>
<a name="jquery-widget" class="anchor" href="#jquery-widget"><span class="octicon octicon-link"></span></a>jquery-widget</h1>

<p>Have you written a jQuery Widget but you don't have time to re-write it in angular?</p>

<p>But - <em>wow</em> - how much knowledge it takes to <em>properly</em> wire up your widget in angular?</p>

<p>How do I wrap it and use it angular? And it must be a two-way binding!</p>

<p>With this directive - it is all in the model.</p>

<p>This Angular directive was written as a wrapper to host <strong>any</strong> Widget written to the specs of the
<a href="http://api.jqueryui.com/jquery.widget/">Widget Factory</a></p>

<ul>
<li>slider <a href="http://jsfiddle.net/jmcpeak/scbu1w9f/">demo</a>
</li>
<li>spinner <a href="http://jsfiddle.net/jmcpeak/bqoyL56L/">demo</a>
</li>
</ul>

<p>The <a href="https://github.com/jmcpeak/jquery-widget/blob/master/app/index.html">index.html</a> file has many good working examples.</p>

<h2>
<a name="features" class="anchor" href="#features"><span class="octicon octicon-link"></span></a>Features</h2>

<ul>
<li>Should work with any jQuery Widget written to the jQuery Widget <a href="http://api.jqueryui.com/jquery.widget/">Factory Pattern</a>
</li>
<li>Written as a single general purpose directive - jqueryWidget.js</li>
<li>Just need to write and pass in a config factory object - see <a href="https://github.com/jmcpeak/jquery-widget/blob/master/app/scripts/controllers/slider.js">slider.js</a>
</li>
</ul>

<h2>
<a name="settings-in-the-config-factory" class="anchor" href="#settings-in-the-config-factory"><span class="octicon octicon-link"></span></a>Settings in the config factory</h2>

<p>The only thing required to use the directive is the config attribute.
This is a factory object with all the settings unique to this widget.
You will define the name of the widget, the events and any options you
want to use as attributes here:
<code>&lt;div jquery-widget config="sliderConfig" ng-model="model.foo"&gt;&lt;/div&gt;</code></p>

<div class="highlight highlight-javascript"><pre><span class="nx">register</span> <span class="nx">a</span> <span class="nx">slider</span> <span class="nx">module</span>
<span class="kd">var</span> <span class="nx">app</span> <span class="o">=</span> <span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'slider'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'jqueryWidget'</span><span class="p">]);</span>

<span class="nx">register</span> <span class="nx">a</span> <span class="nx">factory</span> <span class="nx">against</span> <span class="nx">that</span> <span class="nx">module</span>
<span class="nx">app</span><span class="p">.</span><span class="nx">factory</span><span class="p">(</span><span class="s1">'sliderConfig'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>

<span class="c1">// the name of the widget - $('.selector').slider()</span>
<span class="c1">// required</span>
<span class="k">this</span><span class="p">.</span><span class="nx">widget</span> <span class="o">=</span> <span class="s1">'slider'</span><span class="p">;</span>

<span class="c1">// the default widget option</span>
<span class="c1">// optional</span>
<span class="c1">// will map to the model based on this</span>
<span class="k">this</span><span class="p">.</span><span class="k">default</span> <span class="o">=</span> <span class="s1">'value'</span><span class="p">;</span>

<span class="c1">// the list of html attributes you want to make available</span>
<span class="c1">// optional </span>
<span class="k">this</span><span class="p">.</span><span class="nx">attributes</span> <span class="o">=</span> <span class="p">[</span><span class="s1">'animate'</span><span class="p">,</span> <span class="s1">'disabled'</span><span class="p">,</span> <span class="s1">'max'</span><span class="p">,</span> <span class="s1">'min'</span><span class="p">,</span> <span class="s1">'orientation'</span><span class="p">,</span> <span class="s1">'range'</span><span class="p">,</span> <span class="s1">'step'</span><span class="p">,</span> <span class="s1">'value'</span><span class="p">,</span> <span class="s1">'values'</span><span class="p">];</span>

<span class="c1">// Any options you want to set on initialization</span>
<span class="c1">// optional</span>
<span class="k">this</span><span class="p">.</span><span class="nx">options</span> <span class="o">=</span> <span class="p">{</span> <span class="nx">min</span><span class="o">:</span> <span class="mi">0</span><span class="p">,</span> <span class="nx">max</span><span class="o">:</span> <span class="mi">10</span><span class="p">,</span> <span class="nx">step</span><span class="o">:</span> <span class="mi">1</span> <span class="p">};</span>

<span class="c1">// Where you wire up the jQuery events that are raised</span>
<span class="c1">// optional</span>
<span class="k">this</span><span class="p">.</span><span class="nx">events</span> <span class="o">=</span> <span class="p">{</span>
    <span class="nx">change</span><span class="o">:</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">event</span><span class="p">,</span> <span class="nx">ui</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">$log</span><span class="p">.</span><span class="nx">info</span><span class="p">(</span><span class="s1">'Event: change'</span><span class="p">,</span> <span class="nx">event</span><span class="p">,</span> <span class="nx">ui</span><span class="p">);</span>
    <span class="p">},</span>
    <span class="nx">slide</span><span class="o">:</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">event</span><span class="p">,</span> <span class="nx">ui</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">$log</span><span class="p">.</span><span class="nx">info</span><span class="p">(</span><span class="s1">'Event: slide'</span><span class="p">,</span> <span class="nx">event</span><span class="p">,</span> <span class="nx">ui</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">};</span>

<span class="c1">// An array of events that will get bound</span>
<span class="c1">// optional</span>
<span class="c1">// In this example, whenever the slide event is raised it will be bound to the model - here is where you specify</span>
<span class="c1">// that on the slide event you want ui.value used as the model value </span>
<span class="c1">// http://api.jqueryui.com/slider/#event-slide</span>
<span class="k">this</span><span class="p">.</span><span class="nx">binds</span> <span class="o">=</span> <span class="p">[</span>
    <span class="p">{</span> <span class="nx">slide</span><span class="o">:</span> <span class="s1">'value'</span> <span class="p">}</span>
<span class="p">];</span>

<span class="c1">// the render callback</span>
<span class="c1">// optional</span>
<span class="c1">// if you need to change some values before they are put back into the widget - for instance the slider step</span>
<span class="c1">// can't be less than 1 or empty - do that here</span>
<span class="k">this</span><span class="p">.</span><span class="nx">render</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">viewValue</span><span class="p">,</span> <span class="nx">ngModel</span><span class="p">)</span> <span class="p">{};</span>
</pre></div>

<h2>
<a name="options" class="anchor" href="#options"><span class="octicon octicon-link"></span></a>Options</h2>

<p>The model needs to start life as an object - ng-model="model.foo"</p>

<p>Then all options will just be available on the model, by name, as two way bindings:</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">ng-model=</span><span class="s">"model.foo.value"</span><span class="nt">&gt;</span>
</pre></div>

<h2>
<a name="method" class="anchor" href="#method"><span class="octicon octicon-link"></span></a>Method</h2>

<p>A method can be used two ways - with and without a value.</p>

<p>Without a value, it is just a string:</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;button</span> <span class="na">ng-click=</span><span class="s">"model.foo.method='pageUp'"</span><span class="nt">&gt;</span>pageUp<span class="nt">&lt;/button&gt;</span>
</pre></div>

<p>With a value, it is an object where the key is the name of the method and the value is the value:</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;button</span> <span class="na">ng-click=</span><span class="s">"model.foo.method={pageUp: 10}"</span><span class="nt">&gt;</span>pageUp by 10<span class="nt">&lt;/button&gt;</span>
</pre></div>

<h2>
<a name="events" class="anchor" href="#events"><span class="octicon octicon-link"></span></a>Events</h2>

<p>Defined once in the config object</p>

<h2>
<a name="attributes" class="anchor" href="#attributes"><span class="octicon octicon-link"></span></a>Attributes</h2>

<p>Don't need any fancy options - just want to make them available as attributes?</p>

<p>Set a list of them in the config object</p>

<div class="highlight highlight-javascript"><pre><span class="k">this</span><span class="p">.</span><span class="nx">attributes</span> <span class="o">=</span> <span class="p">[</span><span class="s1">'disabled'</span><span class="p">];</span>
</pre></div>

<p>And boom - they are just available as bound attributes:</p>

<p>First define the directive</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;input</span> <span class="na">jquery-widget</span> <span class="na">config=</span><span class="s">"sliderConfig"</span> <span class="na">disabled=</span><span class="s">"{{sDisabled}}"</span> <span class="na">ng-model=</span><span class="s">"model.foo"</span><span class="nt">&gt;</span>
</pre></div>

<p>Now just use it</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">value=</span><span class="s">"{{sDisabled}}"</span> <span class="na">ng-click=</span><span class="s">"sDisabled = !sDisabled"</span><span class="nt">/&gt;</span>
</pre></div>

<h2>
<a name="browser-compatibility" class="anchor" href="#browser-compatibility"><span class="octicon octicon-link"></span></a>Browser compatibility</h2>

<p>TBD</p>

<h2>
<a name="installation-using-bower" class="anchor" href="#installation-using-bower"><span class="octicon octicon-link"></span></a>Installation using <a href="http://bower.io/">Bower</a>
</h2>

<ul>
<li><code>bower install jquery-widget</code></li>
</ul>

<h2>
<a name="faq" class="anchor" href="#faq"><span class="octicon octicon-link"></span></a>FAQ</h2>

<p>TBD</p>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">jquery-widget maintained by <a href="https://github.com/jmcpeak">jmcpeak</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
